@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);








#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-2 .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-2 .mbr-brand__name a {
  font-size: 20px;
}
#features1-5 .mbr-section__col .mbr-header__text {
  color: #27aae0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
#features1-5 .mbr-section-title .mbr-header__text {
  color: #27aae0;
  font-size: 25px;
}
#features1-3k .mbr-section__col .mbr-header__text {
  color: #27aae0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
#features1-3k .mbr-section-title .mbr-header__text {
  color: #27aae0;
}
#msg-box4-3t .mbr-header__text {
  color: #27aae0;
  font-size: 32px;
  text-align: left;
}
#msg-box4-3t .mbr-header__subtext {
  color: #2c82c9;
}
#msg-box4-3t .mbr-article {
  color: #27aae0;
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
}
#form1-1s .mbr-header__text {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
}
#msg-box4-1w .mbr-header__text {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
}
#msg-box4-1w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1w .mbr-article {
  color: #ffffff;
}
#social-buttons2-1r .mbr-header__text SPAN {
  font-size: 14px;
  color: #27aae0;
  text-align: right;
  font-family: 'Roboto Slab', serif;
}
#contacts1-7 P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}


#content5-1u .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-1u .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1u .mbr-article {
  color: #fff;
}
#content5-1u .mbr-article P {
  color: #000000;
}
#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-a .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-a .mbr-brand__name a {
  font-size: 20px;
}
#contacts1-7 P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}


#ext_menu-c .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-c .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-c .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-c .mbr-brand__name a {
  font-size: 20px;
}
#contacts1-7 P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}



#features1-3w .mbr-section__col .mbr-header__text {
  color: #27aae0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}
#features1-3w .mbr-section-title .mbr-header__text {
  color: #27aae0;
}
#ext_menu-16 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-16 .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-16 .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-16 .mbr-brand__name a {
  font-size: 20px;
}
#contacts1-4f P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}


#ext_menu-1x .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1x.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-1x .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-1x .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-1x .mbr-brand__name a {
  font-size: 20px;
}
#form1-20 .mbr-header__text {
  color: #27aae0;
}
#contacts1-1y P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
}


#ext_menu-41 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-41.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-41 .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-41 .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-41 .mbr-brand__name a {
  font-size: 20px;
}
#contacts1-43 P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}


#ext_menu-e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-e .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-e .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-e .mbr-brand__name a {
  font-size: 20px;
}
#contacts1-7 P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}


#ext_menu-44 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-44.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-44 .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-44 .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-44 .mbr-brand__name a {
  font-size: 20px;
}
#contacts1-46 P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}


#ext_menu-47 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-47.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-47 .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-47 .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-47 .mbr-brand__name a {
  font-size: 20px;
}
#contacts1-49 P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}


#ext_menu-4a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4a.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-4a .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-4a .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-4a .mbr-brand__name a {
  font-size: 20px;
}
#contacts1-4c P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}


#ext_menu-4d .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4d.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-4d .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-4d .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-4d .mbr-brand__name a {
  font-size: 20px;
}
#contacts1-4f P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}


#ext_menu-4g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4g.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-4g .mbr-navbar__hamburger {
  color: #27aae0;
}
#ext_menu-4g .mbr-navbar__items a {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}
#ext_menu-4g .mbr-brand__name a {
  font-size: 20px;
}
#contacts1-4h P {
  color: #27aae0;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
}
