#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-2 .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-a .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-c .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-c .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-e .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-e .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-p .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-z .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-z .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-z .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-14 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-14.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-14 .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-14 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-16 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-16 .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-16 .mbr-navbar__hamburger {
  color: #ffffff;
}
