#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-2 .mbr-navbar__items a {
  font-size: 15px;
}
#features1-5 .mbr-section__col .mbr-header__text {
  color: #27aae0;
}
#features1-5 .mbr-section-title .mbr-header__text {
  color: #27aae0;
}
#form1-1s .mbr-header__text {
  color: #27aae0;
}
#msg-box4-1w .mbr-header__text {
  color: #27aae0;
}
#msg-box4-1w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1w .mbr-article {
  color: #ffffff;
}
#social-buttons2-1r .mbr-header__text SPAN {
  font-size: 16px;
  color: #27aae0;
}
#content5-1u .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-1u .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1u .mbr-article {
  color: #fff;
}
#content5-1u .mbr-article P {
  color: #000000;
}
#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-a .mbr-navbar__items a {
  font-size: 15px;
}
#ext_menu-c .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-c .mbr-navbar__items a {
  font-size: 15px;
}
#ext_menu-e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-e .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-e .mbr-navbar__items a {
  font-size: 15px;
}
#ext_menu-p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-p .mbr-navbar__items a {
  font-size: 15px;
}
#ext_menu-z .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-z .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-z .mbr-navbar__items a {
  font-size: 15px;
}
#ext_menu-14 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-14.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-14 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-14 .mbr-navbar__items a {
  font-size: 15px;
}
#ext_menu-16 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-16 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-16 .mbr-navbar__items a {
  font-size: 15px;
}
#ext_menu-1x .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1x.mbr-navbar--stuck .mbr-navbar__section {
  background: #27aae0;
}
#ext_menu-1x .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-1x .mbr-navbar__items a {
  font-size: 15px;
}
